.card-div {
  display: flex;
}
.card-employeee {
  border: 2px solid #dfe1e6;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.card-name {
  margin-right: 58px;
}
.card-emp {
  margin-right: 14px;
}
.dropdown-style {
  font-size: 14px;
  background-color: #fafbfc;
  border: 2px solid #dfe1e6;
  border-radius: 3px;
  padding: 5px;
  margin-left: 10px;
}

.category-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
  align-items: center;
}
@media only screen and (max-width: 780px) {
  .category-box {
    margin: 0px auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .category-box {
    margin: 0px auto;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
.text-area {
  width: 50%;
  margin-top: 2rem;
}
.text-reason {
  margin-top: 3rem;
}
select:disabled {
  background: #dfe1e6;
}
